<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>slack-imgur</title>

        <style type="text/css" media="all">
            body {
                padding-top: 50px;
            }
            .starter-template {
                padding: 40px 15px;
                text-align: center;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="started-template">
                <h1>slack-imgur</h1>
                <p>Get a random image from Imgur in a Slack Channel, with Slack Outgoing WebHooks.</p>
                <h2>Usage</h2>
                <p>
                    <ul>
                        <li>Create a <a href="https://getscreenshots.slack.com/services/new/outgoing-webhook">Slack Outgoing WebHooks</a></li>
                        <li>Select a channel</li>
                        <li>Set a trigger word</li>
                        <li>Add <a href="http://slack-imgur.herokuapp.com">http://slack-imgur.herokuapp.com</a> to URL(s) field.</li>
                    </ul>
                </p>
                <p><img src="http://i.imgur.com/79u5e7L.png" alt="" /></p>

                <h2>Github repo</h2>
                <a href="https://github.com/juanpabloaj/slack-imgur">https://github.com/juanpabloaj/slack-imgur</a>
            </div>
        </div>
    </body>
</html>
